.details-header {
      background-image: url('https://images.alphacoders.com/946/946521.jpg');
      background-size: cover;
      background-position: center;
}
.details-header__image {
    margin-top:100px;
}

  img {
    width: 300px;
    height: 300px;
}
