<div class="bg-image details-header h-50 position-relative">
    <div class="text-center postion-absolute">
        <img class="details-header__image" src="{{post.thumbnail}}" alt="">
        <div class="container">
            <h2 class="mt-5">{{post.title}}</h2>
            <div class="container">
                <div class="row ">
                    <span class="col-3"><i class="fa fa-address-book mr-2" aria-hidden="true"></i> {{post.created |
                        date}}</span>
                    <span class="col-3">
                        <i class="fa fa-user mr-2" aria-hidden="true"></i>
                        {{post.author}}
                    </span>
                    <span class="col-3">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        <i class="fa fa-arrow-down mr-2" aria-hidden="true"></i>
                        {{post.score}}
                    </span>
                    <span class="col-3"><i class="fa fa-commenting-o mr-2"
                            aria-hidden="true"></i>{{post.num_comments}}</span>
                </div>
            </div>
            <hr>
            <div class="container">
                <div *ngIf="post.selftext;then selftext else selftext_placeholder"></div>
                <ng-template #selftext>{{post.selftext}}</ng-template>
                <ng-template #selftext_placeholder>
                    <h5>It seems like selftext for given post does not exist at all!</h5>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora
                        ratione delectus
                        reiciendis omnis enim
                        quam! Beatae voluptas eligendi rerum minima, quam, neque excepturi ipsa, quidem ullam qui dicta
                        reprehenderit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quod repellat
                        omnis possimus error laborum totam minima. Dolore, repudiandae, eligendi a reiciendis,
                        praesentium consequatur voluptates libero sunt molestias voluptas necessitatibus.
                    </p>
                </ng-template>
            </div>
        </div>
    </div>