<div class="container">
    <div *ngFor="let post of posts">
        <app-feed-teaser [post]=post></app-feed-teaser>
    </div>
    <div class="row mt-5">

        <div class="col-12 col-md-6 offset-md-6 ">
            <div class="container">
                <div class="input-group mb-3 ml-3 d-flex justify-content-end">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Posts per page</label>
                    </div>
                    <select style="width:auto" (change)="onPostAmountChange($event)">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="25">25</option>
                    </select>
                    <button class="btn btn-primary ml-2" [disabled]="fromStartCounter == 0"
                        (click)="onPageChange($event)" value="before"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>PREVIOUS</button>
                    <button class="btn btn-primary ml-2" [disabled]="!after" (click)="onPageChange($event)"
                        value="after">NEXT <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-loading [show]="loading"
    [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(91, 139, 229, 0.44)', fullScreenBackdrop: true }">
</ngx-loading>